{erl_opts, [debug_info]}.

{lfe_first_files, []}.

{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.

{deps, [
    lfe,
    lutil,
    {color, {git, "git://github.com/julianduque/erlang-color.git", {tag, "v0.2.0"}}}
  ]}.

{plugins, [
   rebar3_lfe_compile
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.
