{erl_opts, [debug_info]}.

{lfe_first_files, []}.

{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.

{deps, [
   lfe,
   lutil
  ]}.

{plugins, [
   rebar3_lfe_compile
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{project_plugins, [
   lodox
  ]}.

{lodox, [
   {apps, [
      {ltest, [
         {'source-uri',
          "https://github.com/lfex/ltest/blob/{version}/{filepath}#L{line}"},
         {'output-path', "docs"}
        ]}
     ]}
  ]}.
